.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
	display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px black 0.2;
    padding: 20px;
    background-color: rgba(255, 240, 234, .3);
    font-size: 25px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, .2);
    border-radius: 7px;
    margin: 10px 10px;
    flex-basis: 30px;

}

.card img{
    width: 120px;
    border-radius: 5px;
}